//盒子模型，将盒子相关信息进行定义，包括padding, border, shadow, 盒子模型的相关单位使用 px像素单位。
//border 属性：width
@use "sass:color";
@import "./color";
.border-none{
    border:none;
}
@for $i from 1 to 10{
    .border-width-#{$i}{
        border-width:$i * 1px;
    }
}

@each $key, $color in $colors {
    .border-left-color-#{$key} {
        border-left-color: $color !important;
    }
    .border-top-color-#{$key} {
        border-left-color: $color !important;
    }
    .border-right-color-#{$key} {
        border-left-color: $color !important;
    }
    .border-bottom-color-#{$key} {
        border-left-color: $color !important;
    }
}

.border-style-solid{
    border-style: solid;
}

.border-style-dotted{
    border-style: dotted;
}



//padding,margin
@for $i from 1 to 10{
    @if $i < 4{
        $fontsize: 1 - (4 - $i) * 0.1;
        .padding-top-#{$i}{
            padding-top: $fontsize * 1rem;
        }
        .padding-left-#{$i}{
            padding-left: $fontsize * 1rem;
        }
        .padding-right-#{$i}{
            padding-right: $fontsize * 1rem;
        }
        .padding-bottom-#{$i}{
            padding-bottom: $fontsize * 1rem;
        }
        .padding-#{$i}{
            padding: $fontsize * 1rem;
        }

        .margin-top-#{$i}{
            margin-top: $fontsize * 1rem;
        }
        .margin-left-#{$i}{
            margin-left: $fontsize * 1rem;
        }
        .margin-right-#{$i}{
            margin-right: $fontsize * 1rem;
        }
        .margin-bottom-#{$i}{
            margin-bottom: $fontsize * 1rem;
        }
        .margin-#{$i}{
            margin: $fontsize * 1rem;
        }
    }
    @if $i > 4{
        $fontsize: 1 + ($i - 4) * 0.1;
        .padding-top-#{$i}{
            padding-top: $fontsize * 1rem;
        }
        .padding-left-#{$i}{
            padding-left: $fontsize * 1rem;
        }
        .padding-right-#{$i}{
            padding-right: $fontsize * 1rem;
        }
        .padding-bottom-#{$i}{
            padding-bottom: $fontsize * 1rem;
        }
        .padding-#{$i}{
            padding: $fontsize * 1rem;
        }

        .margin-top-#{$i}{
            margin-top: $fontsize * 1rem;
        }
        .margin-left-#{$i}{
            margin-left: $fontsize * 1rem;
        }
        .margin-right-#{$i}{
            margin-right: $fontsize * 1rem;
        }
        .margin-bottom-#{$i}{
            margin-bottom: $fontsize * 1rem;
        }
        .margin-#{$i}{
            margin: $fontsize * 1rem;
        }
    }

    @if $i == 4{
        .padding-top-#{$i}{
            padding-top: 1rem;
        }
        .padding-left-#{$i}{
            padding-left: 1rem;
        }
        .padding-right-#{$i}{
            padding-right: 1rem;
        }
        .padding-bottom-#{$i}{
            padding-bottom: 1rem;
        }
        .padding-#{$i}{
            padding: 1rem;
        }

        .margin-top-#{$i}{
            margin-top: 1rem;
        }
        .margin-left-#{$i}{
            margin-left: 1rem;
        }
        .margin-right-#{$i}{
            margin-right: 1rem;
        }
        .margin-bottom-#{$i}{
            margin-bottom: 1rem;
        }
        .margin-#{$i}{
            margin: 1rem;
        }
    }
    
}
.padding-none{
    padding:0;
}
.padding-left-0{
    padding-left:0;
}
.padding-top-0{
    padding-top:0;
}
.padding-right-0{
    padding-right:0;
}
.padding-bottom-0{
    padding-bottom:0;
}

//shadow
@for $i from 1 to 10{
    .box-shadow-#{$i} {
        box-shadow: $i * 0.1 *1px $i*0.1*1px $i*1px $i*0.1*1px $gray;
        &:hover{
            box-shadow: $i * 0.05 *1px $i*0.05*1px $i*0.5px $i*0.05*1px $gray;
        }
        &:active{
            box-shadow: none;
        }
    }
    @if $i == 4{
        .box-shadow {
            box-shadow: $i * 0.1 *1px $i*0.1*1px $i*1px $i*0.1*1px $gray;
            &:hover{
                box-shadow: $i * 0.05 *1px $i*0.05*1px $i*0.5px $i*0.05*1px $gray;
            }
            &:active{
                box-shadow: none;
            }
        }   
    }
}

//clear margin
.margin-clear{
    margin:none !important;
}

//radius
@for $i from 1 to 10{
    .border-radius-#{$i} {
        border-radius: $i*1px;
    }
    @if $i == 4{
        .border-radius {
            border-radius: $i*1px;
        }   
    }
}




@each $key, $color in $colors {
    @for $range from 1 to 10 {
        //生成颜色相关匹配色。
        @if $range  < 4{
            $whitens: 4-$range;
            $co:color.scale($color, $whiteness: ($whitens*30)*1%, $blackness: -($whitens*30)*1%);
            .bg-#{$key}-#{$range} {
                background-color: $co !important;
            }
            .border-#{$key}-#{$range}{
                border-color: $co;
            }
            .border-left-#{$key}-#{$range} {
                border-left-color: $co;
            }
            .border-top-#{$key}-#{$range} {
                border-top-color: $co;
            }
            .border-right-#{$key}-#{$range} {
                border-right-color: $co;
            }
            .border-bottom-#{$key}-#{$range} {
                border-bottom-color: $co;
            }
        }
        @if $range > 4{
            $blackns: $range - 4;
            $co: color.scale($color, $blackness: $blackns*20*1%);
            .bg-#{$key}-#{$range} {
                background-color: $co  !important;
            }
            .border-#{$key}-#{$range}{
                border-color: $co;
            }
            .border-left-#{$key}-#{$range} {
                border-left-color: $co;
            }
            .border-top-#{$key}-#{$range} {
                border-top-color: $co;
            }
            .border-right-#{$key}-#{$range} {
                border-right-color: $co;
            }
            .border-bottom-#{$key}-#{$range} {
                border-bottom-color: $co;
            }
        }
        @if $range == 4 {
            .bg-#{$key}-#{$range} {
                background-color: $color  !important;
            }
            .border-#{$key}-#{$range}{
                border-color: $color !important;
            }
            .bg-#{$key} {
                background-color: $color  !important;
            }
            .text-#{$key}{
                color: $color  !important;
            }
            .border-#{$key}{
                border-color: $color !important;
            }

            .border-left-#{$key}-#{$range} {
                border-left-color: $color;
            }
            .border-top-#{$key}-#{$range} {
                border-top-color: $color;
            }
            .border-right-#{$key}-#{$range} {
                border-right-color: $color;
            }
            .border-bottom-#{$key}-#{$range} {
                border-bottom-color: $color;
            }
        }
    }
}


@each $key, $color in $semantic_range {
    @for $range from 0 to 10 {
        //生成颜色相关匹配色。
        @if $range  < 4{
            $whitens: 4-$range;
            .bg-#{$key}-#{$range} {
                background-color: color.scale($color, $whiteness: ($whitens*20)*1%);
            }
        }
        @if $range > 4{
            $blackns: $range - 4;
            .bg-#{$key}-#{$range} {
                background-color: color.scale($color, $blackness: $blackns*20*1%);
            }
            
        }
        @if $range == 4 {
            $blackns: $range - 4;
            .bg-#{$key}-#{$range} {
                background-color: $color;
            }
            .bg-#{$key} {
                background-color: $color;
            }            
        }
    }
}


