//盒子模型，将盒子相关信息进行定义，包括padding, border, shadow, 盒子模型的相关单位使用 px像素单位。
//border 属性：width
@use "sass:color";
@import "./color";

@for $i from 1 to 100{
    .border-width-#{$i}px{
        border-width:$i * 1px;
    }
}

@each $key, $color in $colors {
    .border-left-color-#{$key} {
        border-left-color: $color;
    }
    .border-top-color-#{$key} {
        border-left-color: $color;
    }
    .border-right-color-#{$key} {
        border-left-color: $color;
    }
    .border-bottom-color-#{$key} {
        border-left-color: $color;
    }
}

.border-style-solid{
    border-style: solid;
}

.border-style-dotted{
    border-style: dotted;
}

.border-none{
    border:none;
}

//padding
@for $i from 1 to 100{
    .padding-top-#{$i}px{
        padding-top: $i * 1px;
    }
    .padding-left-#{$i}px{
        padding-left: $i * 1px;
    }
    .padding-right-#{$i}px{
        padding-right: $i * 1px;
    }
    .padding-bottom-#{$i}px{
        padding-bottom: $i * 1px;
    }
    .padding-#{$i}px{
        padding: $i * 1px;
    }
}

//shadow
@for $i from 1 to 100{
    .box-shadow-#{$i}px {
        box-shadow: $i * 0.1 *1px $i*0.1*1px $i*1px $i*0.1*1px $gray;
    }
}

//clear margin
.margin-clear{
    margin:none !important;
}

//radius
@for $i from 1 to 100{
    .border-radius-#{$i}px {
        border-radius: $i*1px;
    }
}

@for $i from 1 to 10{
    .radius-cicle-#{$i}{
        width: $i*1rem !important;
        height: $i*1rem !important;
        border: 1px solid transparent;
        font-size: $i/2 * 1rem !important;
        line-height: $i *1rem !important;
        text-align: center;
        border-radius: 50% !important;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: content-box;
    }
}


@each $key, $color in $colors {
    @for $range from 1 to 10 {
        //生成颜色相关匹配色。
        @if $range  < 4{
            $whitens: 4-$range;
            $co:color.scale($color, $whiteness: ($whitens*30)*1%, $blackness: -($whitens*30)*1%);
            .bg-#{$key}-#{$range} {
                background-color: $co !important;
            }
            .border-#{$key}-#{$range}{
                border-color: $co;
            }
            .border-left-#{$key}-#{$range} {
                border-left-color: $co;
            }
            .border-top-#{$key}-#{$range} {
                border-left-color: $co;
            }
            .border-right-#{$key}-#{$range} {
                border-left-color: $co;
            }
            .border-bottom-#{$key}-#{$range} {
                border-left-color: $co;
            }
        }
        @if $range > 4{
            $blackns: $range - 4;
            $co: color.scale($color, $blackness: $blackns*20*1%);
            .bg-#{$key}-#{$range} {
                background-color: $co  !important;
            }
            .border-#{$key}-#{$range}{
                border-color: $co;
            }
            .border-left-#{$key}-#{$range} {
                border-left-color: $co;
            }
            .border-top-#{$key}-#{$range} {
                border-left-color: $co;
            }
            .border-right-#{$key}-#{$range} {
                border-left-color: $co;
            }
            .border-bottom-#{$key}-#{$range} {
                border-left-color: $co;
            }
        }
        @if $range == 4 {
            .bg-#{$key}-#{$range} {
                background-color: $color  !important;
            }
            .border-#{$key}-#{$range}{
                border-color: $color !important;
            }
            .bg-#{$key} {
                background-color: $color  !important;
            }
            .text-#{$key}{
                color: $color  !important;
            }
            .border-#{$key}{
                border-color: $color !important;
            }
        }
    }
}


@each $key, $color in $semantic_range {
    @for $range from 0 to 10 {
        //生成颜色相关匹配色。
        @if $range  < 4{
            $whitens: 4-$range;
            .bg-#{$key}-#{$range} {
                background-color: color.scale($color, $whiteness: ($whitens*20)*1%);
            }
        }
        @if $range > 4{
            $blackns: $range - 4;
            .bg-#{$key}-#{$range} {
                background-color: color.scale($color, $blackness: $blackns*20*1%);
            }
            
        }
        @if $range == 4 {
            $blackns: $range - 4;
            .bg-#{$key}-#{$range} {
                background-color: $color;
            }
            .bg-#{$key} {
                background-color: $color;
            }            
        }
    }
}


