@use "sass:color";
//基础色定义,每种颜色获得的是透明度为50%的hsl颜色，饱和度都100%的颜色.颜色单位同font单位保持一致，使用自定义100-900单位
$red:#cc0000;
$yellow: #cccc00;
$green: #00cc00;
$blue: #0000cc;
$indigo: #7700cc;
$purple: #cc00cc;
$turquoise: #00cccc;
$orange: #cc8500; 
$cyan: #00cccc;
$gray: #666666;
$black: black;
$white: white;

$colors: (
  //系统色
  "white":      $white,
  "black":      $black,

  //主题色
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  
  //info色
  "gray":       $gray,
  //street light色
  "red":        $red,
  "green":      $green,
  "yellow":     $yellow,
);
// $color_range:1,2,3,4,500,600,700,800,900;
//默认色定义:
$background:$white;
$textColor: $black;

//定义语义化颜色."primary"，按钮色， seconday,链接色
$semantic_range:(
    "primary":$indigo,
    "secondary":$purple,
    "adorn":$indigo, 

    "info":$gray,
    
    "warning":$yellow,
    "error":$red,
    "success":$green
);

$topic_range:(
    "primary":$blue,
    "secondary":$purple,
    "adorn":$turquoise,
);

$message_range:(
    "gray":$gray,
    "warning":$yellow,
    "error":$red, 
    "success":$green, 
);

