@use "sass:color";
//基础色定义,每种颜色获得的是透明度为50%的hsl颜色，饱和度都100%的颜色.颜色单位同font单位保持一致，使用自定义100-900单位
$red:#cc0000;
$yellow: #cccc00;
$green: #00cc00;
$blue: #0000cc;
$indigo: #7700cc;
$purple: #cc00cc;
$turquoise: #00cccc;
$orange: #cc8500; 
$cyan: #00cccc;
$gray: #bbbbbb;
$black: black;
$white: white;

$colors: (
  //系统色
  "white":      $white,
  "black":      $black,

  //主题色
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  
  //info色
  "gray":       $gray,
  //street light色
  "red":        $red,
  "green":      $green,
  "yellow":     $yellow,
);
// $color_range:1,2,3,4,500,600,700,800,900;
//默认色定义:
$background: $white;
$textColor: $black;

$main: $indigo;

$main\+1: color.scale($main, $whiteness: 10*1%, $blackness: -10*1%);
$main\+2: color.scale($main, $whiteness: 20*1%, $blackness: -20*1%);
$main\+3: color.scale($main, $whiteness: 30*1%, $blackness: -30*1%);
$main\+4: color.scale($main, $whiteness: 40*1%, $blackness: -40*1%);

$minor: $purple;
$less: $turquoise; 
$info: $gray;
$warning: $yellow;
$error:$red;
$success:$green;
//定义语义化颜色."main"，按钮色， minor,链接色
$semantic_range:(
    "gray":$gray,
    "white":$white,
    "black":$black,

    "main": $main,
    "minor": $minor,
    "less": $less, 

    "info":$info,
    
    "warning":$warning,
    "error":$error,
    "success":$success
);

$topic_range:(
    "main":$main,
    "minor":$minor,
    "less":$turquoise,
);

$message_range:(
    "gray":$gray,
    "warning":$yellow,
    "error":$red, 
    "success":$green, 
);

$positions:(
    "left": "left",
    "right": "right",
    "top": "top",
    "bottom": "bottom"
)