@use "sass:color";
@use "sass:math";
@import "./color";

$fontsize: 16px;
  //定义三种字体，并提供自定义字体方案
  @mixin font-family-sans{
    //非衬线字体,html,body会根本使用此字体，而其他字体需要视情况选择使用其他类。
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.font-family-sans{
  //非衬线字体,html,body会根本使用此字体，而其他字体需要视情况选择使用其他类。
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@mixin font-family-serif{
    //衬线字体
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.font-family-serif{
  //衬线字体
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
  @mixin font-family-monospace{
      //等宽字体
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
.font-family-monospace{
    //等宽字体
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


//斜体文本
i, cite, em, var, address, dfn {
    font-style: italic;
}
.i, .cite, .em, .var, .address, .dfn {
    font-style: italic;
}

//代码：
code{
    @include font-family-monospace;
}

.code{
    @include font-family-monospace;
}

s, strike, del {
    text-decoration: line-through;
}
.s, .strike, .del {
    text-decoration: line-through;
}

em,.em{
    font-style: italic;
    font-weight:900;
}
strong,.strong{
    font-weight:900;
}


u, ins,.u, .ins {
    text-decoration: underline;
}



@for $size from -4 through 4{
    $divide: math.abs($size - 4) * 0.125;
    @if $size < 0 {
        .font-size#{$size}{
            font-size: (1 - $divide) * 1rem;
            line-height: 1.5em;
        }
        
    }
    @if $size > 0 {
        .font-size#{$size}{
            font-size: (1 + $divide) * 1rem;
            line-height: 1.5em;
        }
    }
    @if $size == 0{
        .font-size{
            font-size: $fontsize;
            line-height: 1.5em;
        }
    }
}

@for $letter from 1 to 10 {
    $letterns : ($letter - 4) * 0.1rem;
        .font-space-#{$letter}{
            letter-spacing: $letterns;
    }
    @if $letter == 4{
        .font-space{
            letter-spacing: 0;
        }        
    }
} 
//定义字体粗细
@for $font-weight from 1 to 9{
    .font-weight-#{$font-weight} {
        font-weight: $font-weight * 100 !important;
    }
    @if $font-weight == 4{
        .font-weight {
            font-weight: $font-weight * 100 !important;
        }   
    } 
}
//定义字体颜色级别
@each $key, $color in $colors {
    @for $range from 1 to 10 {
        //生成颜色相关匹配色。
        @if $range  < 4{
            $whitens: 4-$range;
            $co:color.scale($color, $whiteness: ($whitens*30)*1%, $blackness: -($whitens*30)*1%);
            .font-#{$key}#{$range}{
                color: $co  !important;
            }
        }
        @if $range > 4{
            $blackns: $range - 4;
            .font-#{$key}#{$range}{
                color: color.scale($color, $blackness: $blackns*20*1%)  !important;
            }
        }
        @if $range == 4 {
            .font-#{$key}#{$range}{
                color: $color  !important;
            }
            .font-#{$key}{
                color: $color  !important;
            }
            
        }
    }
}

@each $key, $color in $semantic_range {
    @for $range from -4 through 4 {
        //生成颜色相关匹配色。
        @if $range  < 0{
            .font-#{$key}#{$range} {
                color: color.scale($color, $whiteness: (math.abs($range)*20)*1%, );
            }
        }
        @if $range > 0{
            .font-#{$key}#{$range} {
                color: color.scale($color, $blackness: math.abs($range)*20*1%);   
            }
        }
        @if $range == 0 {
            $blackns: $range - 4;
            .font-#{$key}#{$range} {
                color: $color;
            }
            .font-#{$key} {
                color: $color;
            }
        }
    }
}

@for $i from 1 to 10{
    .font-opcity-#{$i}{
        opacity: $i*0.1 !important;
    }
}
.font-opcity-none{
    opacity:1 !important;
}

.text-align-left{
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.text-align-right{
    text-align: right;
}