// 方向类
$fontsize:16px;
.icon-left{
    display: inline-block;
    width:1.2rem;
    height:1.2rem;
    background-image: url(./icon/箭头左_arrow-left.svg);
    background-size:100% 100%;
}
.check-icon{
    display: inline-block;
    width:1.2rem;
    height:1.2rem;
    background-image: url(./icon/校验_check.svg);
    background-size:100% 100%;
}