//width height 不能包括复杂的min-height，否则在使用时可能会将内部阴影遮罩。

@for $i from 0 through 100{
    .width-#{$i}-100{
        width: $i*1%;
    };
    .min-width-#{$i}px{
        min-width: $i * 1px !important;
    }
}

@for $i from 0 through 100{
    .width-#{$i}-rem{
        
        width: $i*1rem;
        
    }
    .width-#{$i}-em{
        width: $i*1rem !important;
    }
}

@for $i from 0 through 100{
    .height-#{$i}-100{
        height: $i*1%;
    }
}

@for $i from 0 through 100{
    .height-#{$i}-rem{
        height: $i*1rem;
    }
    .height-#{$i}-em{
        height: $i*1em;
    }
}

