@for $i from 0 through 100{
    .width-#{$i}-100{
        min-width: $i*1%;
        width: $i*1% !important;
        $max:($i * 1.5)*1%;
        overflow-x: hidden;
        @if $max>100%{
            max-width:100%;
        }@else{
            max-width:$max;
        };
    };
    .min-width-#{$i}px{
        min-width: $i * 1px !important;
    }
}

@for $i from 0 through 100{
    .width-#{$i}-rem{
        min-width: $i*1rem;
        width: $i*1rem !important;
        $max:($i * 1.5)*1rem;
        overflow-x: hidden;
        @if $max>100rem{
            max-width:100rem;
        }@else{
            max-width:$max;
        };
    }
}

@for $i from 0 through 100{
    .width-#{$i}-px{
        min-width: $i*1px;
        width: $i*1px !important;
        $max:($i * 1.5)*1px;
        overflow-x: hidden;
        @if $max>100px{
            max-width:100px;
        }@else{
            max-width:$max;
        };
    }
}

@for $i from 0 through 100{
    .height-#{$i}-100{
        min-height: $i * 0.5 *1%;
        height: $i*1%;
        max-height: $i*1%;
    }
}

@for $i from 0 through 100{
    .height-#{$i}rem{
        min-height: $i * 0.5 * 1rem;
        height: $i*1rem;
        max-height: $i*1.1rem;
    }
}

@for $i from 0 through 100{
    .height-#{$i}px{
        min-height: $i*0.5*1px;
        height: $i*1px;
        max-height: $i*1.2px;
    }
}
