@use "sass:color";
@use "sass:math";
//css类的定义位置，将会影响代码的优先级顺序，即一些基本的css定义到最后，可以让用户进行自定义。
$fontsize:16px;
*{
    box-sizing: border-box;
    background-color: transparent;
}
@import 'base/size';
@import 'base/color';
@import 'layout/container';
@import 'base/font';
@import 'base/box';
@import 'base/icon';







// @import 'components/primary/table';


