@use "sass:color";
@use "sass:math";
$fontsize:16px;
*{
    box-sizing: border-box;
    background-color: transparent;
}
@import 'base/size';
@import 'base/color';
@import 'base/font';
@import 'base/box';
@import 'components/primary/button';
@import 'layout/container';
