@import "../../base/color";
$fontsize:16px;
button {
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    border: 1px solid $gray;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    &::before {
        content: "";
        top: -1px;
        left: -1px;
        position:absolute;
        border-radius:inherit;
        width:calc(100% + 1px);
        height:calc(100% + 1px);
        background-color: rgba(0,0,0, 0.00);
    }
    &:hover::before{
        cursor:pointer;
        content: "";
        top: -1px;
        left: -1px;
        position:absolute;
        border-radius:inherit;
        width:calc(100% + 1px);
        height:calc(100% + 1px);
        background-color: rgba(0,0,0, 0.05);
    }
    &:active::before{
        cursor:pointer;
        content: "";
        top: -1px;
        left: -1px;
        position:absolute;
        border-radius:inherit;
        width:calc(100% + 1px);
        height:calc(100% + 1px);
        background-color: rgba(0,0,0, 0.1);
    }
    &[disabled]:before{
        cursor:not-allowed;
        content: "";
        top: -1px;
        left: -1px;
        position:absolute;
        border-radius:inherit;
        width:calc(100% + 1px);
        height:calc(100% + 1px);
        background-color: rgba(0,0,0, 0.2);
    }
    &[disabled]{
        cursor:not-allowed;
        border-radius:inherit;
        box-shadow: none;
        &:hover{
            box-shadow: none;
        }
    }    
}

.btn-pill{
    border-radius: 2rem;
}
.btn-block{
    width:100% !important;
    border-radius: none !important;
}
$white-black:("white": $white,"black":$black);
@each $key, $color in $white-black{
    @for $i from 1 to 10{
        @if  $i < 4 {
            $divide: (4 - $i) * 0.1;
            @if $key == "white"{
                .btn-#{$key}-#{$i} {
                    background-color: $color;
                    color: $black;
                    font-size: (1 - $divide) * 1rem;
                    line-height: (1 - $divide) * 1rem * 1.5; 
                    border: 1px solid $black;
                    padding: $i*0.1rem $i*0.2rem;
                }
                
            }@else{
                .btn-#{$key}-#{$i} {
                    background-color: $color;
                    color: $white;
                    font-size: (1 - $divide) * 1rem;
                    line-height: (1 - $divide) * 1rem * 1.5; 
                    border: 1px solid transparent;
                    padding: $i*0.1rem $i*0.2rem;
                }
            }
            
        }
        @if $i > 4{
            $divide: ($i - 4) * 0.1;
            @if $key == "white"{
                .btn-#{$key}-#{$i}{
                    background-color: $color;
                    color: $white;
                    font-size: (1 + $divide) * 1rem;
                    line-height: (1 + $divide) * 1rem *1.5;
                    border: 1px solid $black;
                    padding: $i*0.1rem $i*0.2rem; 
                }
            }@else{
                .btn-#{$key}-#{$i}{
                    background-color: $color;
                    color: $black;
                    font-size: (1 + $divide) * 1rem;
                    line-height: (1 + $divide) * 1rem *1.5;
                    border: 1px solid transparent;
                    padding: $i*0.1rem $i*0.2rem; 
                }
            }
            
        }
        @if $i == 4{
            @if $key == "white"{
                .btn-#{$key} {
                    background-color: $color;
                    color: $black;
                    border: 1px solid $black;
                    padding: $i*0.1rem $i*0.2rem;
                }
                .btn-#{$key}-#{$i} {
                    background-color: $color;
                    color: $black;
                    border: 1px solid $black;
                    padding: $i*0.1rem $i*0.2rem;
                }
            }@else{
                .btn-#{$key} {
                    background-color: $color;
                    color: $white;
                    border: 1px solid transparent;
                    padding: $i*0.1rem $i*0.2rem;
                }
                .btn-#{$key}-#{$i} {
                    background-color: $color;
                    color: $white;
                    border: 1px solid transparent;
                    padding: $i*0.1rem $i*0.2rem;
                }
            }
            
        }
    }
}


@for $i from 1 to 10{
    @if $i < 4{
        $divide: (4 - $i) * 0.1; 
        $width: (1 - $divide) * 1rem*2;
        .btn-cicle-#{$i}{
            width: $width !important;
            height: $width !important;
            padding: 0px !important;
            border: 1px solid transparent;
            font-size: (1 - $divide) * 1rem;
            line-height: calc($width - 2px);
            text-align: center;
            border-radius: $width*2 !important;
        }
    }
    @if $i > 4{
        $divide: ($i - 4) * 0.1; 
        $width: (1 + $divide) * 1rem*2;
        .btn-cicle-#{$i}{
            width: $width !important;
            height: $width !important;
            padding: 0px !important;
            border: 1px solid transparent;
            font-size: (1 + $divide) * 1rem;
            line-height: calc($width - 2px);
            text-align: center;
            border-radius: $width*2 !important;
        }
    }
    @if $i == 4{
        $width: 1rem*2; 
        .btn-cicle{
            width: $width !important;
            height: $width !important;
            padding: 0px !important;
            border: 1px solid transparent;
            font-size: 1rem;
            line-height: calc($width - 2px);
            text-align: center;
            border-radius: $width*2 !important;
        }    
    }
}

@each $key, $color in $semantic_range {
    @for $i from 1 to 10{
        @if  $i < 4 {
            $divide: (4 - $i) * 0.1;
            .btn-#{$key}-#{$i} {
                background-color: $color;
                color: $white;
                font-size: (1 - $divide) * 1rem;
                line-height: (1 - $divide) * 1rem * 1.5; 
                border: 1px solid transparent;
                padding: $i*0.1rem $i*0.2rem;
            }
            //反向色
            .btn-#{$key}-#{$i}-inverse {
                background-color: $white;
                color: $color;
                font-size: (1 - $divide) * 1rem;
                line-height: (1 - $divide) * 1rem * 1.5; 
                border: 1px solid $color;
                padding: $i*0.1rem $i*0.2rem;
            }    
        }
        @if $i > 4{
            $divide: ($i - 4) * 0.1;
            .btn-#{$key}-#{$i}{
                background-color: $color;
                color: $white;
                font-size: (1 + $divide) * 1rem;
                line-height: (1 + $divide) * 1rem *1.5;
                border: 1px solid transparent;
                padding: $i*0.1rem $i*0.2rem; 
            }
            .btn-#{$key}-#{$i}-inverse{
                background-color: $white;
                color: $color;
                font-size: (1 + $divide) * 1rem;
                line-height: (1 + $divide) * 1rem *1.5;
                border: 1px solid $color;
                padding: $i*0.1rem $i*0.2rem; 
            }
        }
        @if $i == 4{
            .btn-#{$key} {
                background-color: $color;
                color: $white;
                border: 1px solid transparent;
                padding: $i*0.1rem $i*0.2rem;
            }
            .btn-#{$key}-inverse {
                background-color: $white;
                color: $color;
                border: 1px solid $color;
                padding: $i*0.1rem $i*0.2rem;
            }
            .btn-#{$key}-#{$i} {
                background-color: $color;
                color: $white;
                border: 1px solid transparent;
                padding: $i*0.1rem $i*0.2rem;
            }
            .btn-#{$key}-#{$i}-inverse {
                background-color: $white;
                color: $color;
                border: 1px solid $color;
                padding: $i*0.1rem $i*0.2rem;
            }
        }
    }
}
