@import "../../base/color";
@import "../../base/box";
button {
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    border: 0px solid transparent; //默认按钮没有边框
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    //单行超出.支持定宽button
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    &:hover{
        cursor:pointer;
        background-color: rgba(0,0,0, 0.05);
    }
    &:active{
        cursor:pointer;
        background-color: rgba(0,0,0, 0.05);
    }    
}

.btn-pill{
    border-radius: 2rem;
}
.btn-block{
    width:100% !important;
    border-radius: none !important;
}

@for $i from -4 through 4{
    $divide: $i * 0.125; 
    $font-size:(1 + $divide) * 1rem;
    $height: $font-size * 2;
    .btn-size#{$i}{
        // width: $width !important;
        height: $height !important;
        font-size: $font-size;
        line-height: 1.5em;
        padding: $font-size/4 $font-size; 
    }
    .btn-cicle#{$i}{
        width: $height !important;
        height: $height !important;
        padding: calc(0.5em * 0.5 - 2px) !important;
        font-size: $font-size;
        line-height: 1.5rem;
        padding: calc(0.5em * 0.5 - 2px) !important;
        text-align: center;
        border-radius: 4em !important;
        border: 1px solid $gray;
    }
    .btn-square#{$i}{
        width: $height !important;
        height: $height !important;
        font-size: $font-size;
        line-height: 1.5em;
        padding: calc(0.5em * 0.5 - 2px) !important;
        text-align: center;
    }
    .btn-leftpill#{$i}{
        font-size: $font-size;
        line-height: 1.5em;
        height: $height; 
        padding: calc(0.5em * 0.5 - 2px) !important;
        border-top-left-radius: 4em;
        border-end-start-radius: 4em;
    }
    .btn-rightpill#{$i}{
        font-size: $font-size;
        line-height: 1.5em; 
        height: $height; 
        padding: calc(0.5em * 0.5 - 2px) !important;
        border-top-right-radius: 4em;
        border-end-end-radius: 4em;
    }
    @if $i == 0{
        $divide: 0; 
        $height: (1 + $divide) * 1rem*2;
        .btn-size{
            // width: $width !important;
            height: $height !important;
            font-size: $font-size;
            line-height: 1.5em;
            padding: $i*0.05rem $i*0.1rem; 
        }
        .btn-cicle{
            width: $height !important;
            height: $height !important;
            padding: calc(0.5em * 0.5 - 2px) !important;
            font-size: $font-size;
            line-height: 1.5rem;
            padding: calc(0.5em * 0.5 - 2px) !important;
            text-align: center;
            border-radius: 4em !important;
            border: 1px solid $gray;
        }
        .btn-square{
            width: $height !important;
            height: $height !important;
            font-size: $font-size;
            line-height: 1.5em;
            padding: calc(0.5em * 0.5 - 2px) !important;
            text-align: center;
        }
    }
}

@each $key, $color in $topic_range {
    @for $i from -4 to 4{
        .btn-#{$key}-#{$i} {
            position:relative;
            @extend .bg-#{$key};
            color: $white;
            border: 1px solid transparent;
            @extend .btn-size#{$i};
            &::before {
                content: "";
                top: -1px;
                left: -1px;
                position:absolute;
                border-radius:inherit;
                width:calc(100% + 2px);
                height:calc(100% + 2px);
                background-color: rgba(0,0,0, 0.00);
            }
            &:hover::before{
                cursor:pointer;
                content: "";
                top: -1px;
                left: -1px;
                position:absolute;
                border-radius:inherit;
                width:calc(100% + 2px);
                height:calc(100% + 2px);
                background-color: rgba(0,0,0, 0.05);
            }
            &:active::before{
                cursor:pointer;
                content: "";
                top: -1px;
                left: -1px;
                position:absolute;
                border-radius:inherit;
                width:calc(100% + 2px);
                height:calc(100% + 2px);
                background-color: rgba(0,0,0, 0.1);
            }
            &[disabled]:before{
                cursor:not-allowed;
                content: "";
                top: -1px;
                left: -1px;
                position:absolute;
                border-radius:inherit;
                width:calc(100% + 2px);
                height:calc(100% + 2px);
                background-color: rgba(0,0,0, 0.2);
            }
            &[disabled]{
                cursor:not-allowed;
                border-radius:inherit;
                box-shadow: none;
                &:hover{
                    box-shadow: none;
                }
            }
        }
        //反向色
        .#{$key}-btn#{$i} {
            position:relative;
            background-color: $white;
            color: $color;
            border: 1px solid $color;
            @extend .btn-size#{$i};
            &::before {
                content: "";
                top: -1px;
                left: -1px;
                position:absolute;
                border-radius:inherit;
                width:calc(100% + 2px);
                height:calc(100% + 2px);
                background-color: rgba(0,0,0, 0.00);
            }
            &:hover::before{
                cursor:pointer;
                content: "";
                top: -1px;
                left: -1px;
                position:absolute;
                border-radius:inherit;
                width:calc(100% + 2px);
                height:calc(100% + 2px);
                background-color: rgba(0,0,0, 0.05);
            }
            &:active::before{
                cursor:pointer;
                content: "";
                top: -1px;
                left: -1px;
                position:absolute;
                border-radius:inherit;
                width:calc(100% + 2px);
                height:calc(100% + 2px);
                background-color: rgba(0,0,0, 0.1);
            }
            &[disabled]:before{
                cursor:not-allowed;
                content: "";
                top: -1px;
                left: -1px;
                position:absolute;
                border-radius:inherit;
                width:calc(100% + 2px);
                height:calc(100% + 2px);
                background-color: rgba(0,0,0, 0.2);
            }
            &[disabled]{
                cursor:not-allowed;
                border-radius:inherit;
                box-shadow: none;
                &:hover{
                    box-shadow: none;
                }
            }
        }
        @if $i == 0{
            .btn-#{$key} {
                position:relative;
                @extend .bg-#{$key};
                color: $white;
                border: 1px solid transparent;
                @extend .btn-size#{$i};
                &::before {
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.00);
                }
                &:hover::before{
                    cursor:pointer;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.05);
                }
                &:active::before{
                    cursor:pointer;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.1);
                }
                &[disabled]:before{
                    cursor:not-allowed;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.2);
                }
                &[disabled]{
                    cursor:not-allowed;
                    border-radius:inherit;
                    box-shadow: none;
                    &:hover{
                        box-shadow: none;
                    }
                }
            }
            //反向色
            .#{$key}-btn {
                position:relative;
                background-color: $white;
                color: $color;
                border: 1px solid $color;
                @extend .btn-size#{$i};
                &::before {
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.00);
                }
                &:hover::before{
                    cursor:pointer;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.05);
                }
                &:active::before{
                    cursor:pointer;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.1);
                }
                &[disabled]:before{
                    cursor:not-allowed;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.2);
                }
                &[disabled]{
                    cursor:not-allowed;
                    border-radius:inherit;
                    box-shadow: none;
                    &:hover{
                        box-shadow: none;
                    }
                }
            }   
        }
    }
     
}
$white-black:("white": $white,"black":$black);
@each $key, $color in $white-black{
    @for $i from -4 to 4{
        $divide: $i * 0.125; 
        $width: (1 + $divide) * 1rem*2;
        @if $key == "white"{
            .btn-#{$key}-#{$i} {
                position:relative;
                background-color: $color !important;
                color: $black !important;
                border: 1px solid $black;
                @extend .btn-size#{$i};
                &::before {
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.00);
                }
                &:hover::before{
                    cursor:pointer;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.05);
                }
                &:active::before{
                    cursor:pointer;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.1);
                }
                &[disabled]:before{
                    cursor:not-allowed;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.2);
                }
                &[disabled]{
                    cursor:not-allowed;
                    border-radius:inherit;
                    box-shadow: none;
                    &:hover{
                        box-shadow: none;
                    }
                }
            }
            
        }@else{
            .btn-#{$key}-#{$i} {
                position:relative;
                background-color: $color !important;
                color: $white !important;
                border: 1px solid $black;
                @extend .btn-size#{$i};
                &::before {
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.00);
                }
                &:hover::before{
                    cursor:pointer;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.05);
                }
                &:active::before{
                    cursor:pointer;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.1);
                }
                &[disabled]:before{
                    cursor:not-allowed;
                    content: "";
                    top: -1px;
                    left: -1px;
                    position:absolute;
                    border-radius:inherit;
                    width:calc(100% + 2px);
                    height:calc(100% + 2px);
                    background-color: rgba(0,0,0, 0.2);
                }
                &[disabled]{
                    cursor:not-allowed;
                    border-radius:inherit;
                    box-shadow: none;
                    &:hover{
                        box-shadow: none;
                    }
                }
            }
        }
        @if $i == 0{
            @if $key == "white"{
                
                .btn-#{$key} {
                    position:relative;        
                    background-color: $color !important;
                    color: $black !important;
                    border: 1px solid $black;
                    @extend .btn-size#{$i};
                    &::before {
                        content: "";
                        top: -1px;
                        left: -1px;
                        position:absolute;
                        border-radius:inherit;
                        width:calc(100% + 2px);
                        height:calc(100% + 2px);
                        background-color: rgba(0,0,0, 0.00);
                    }
                    &:hover::before{
                        cursor:pointer;
                        content: "";
                        top: -1px;
                        left: -1px;
                        position:absolute;
                        border-radius:inherit;
                        width:calc(100% + 2px);
                        height:calc(100% + 2px);
                        background-color: rgba(0,0,0, 0.05);
                    }
                    &:active::before{
                        cursor:pointer;
                        content: "";
                        top: -1px;
                        left: -1px;
                        position:absolute;
                        border-radius:inherit;
                        width:calc(100% + 2px);
                        height:calc(100% + 2px);
                        background-color: rgba(0,0,0, 0.1);
                    }
                    &[disabled]:before{
                        cursor:not-allowed;
                        content: "";
                        top: -1px;
                        left: -1px;
                        position:absolute;
                        border-radius:inherit;
                        width:calc(100% + 2px);
                        height:calc(100% + 2px);
                        background-color: rgba(0,0,0, 0.2);
                    }
                    &[disabled]{
                        cursor:not-allowed;
                        border-radius:inherit;
                        box-shadow: none;
                        &:hover{
                            box-shadow: none;
                        }
                    }
                }
                
            }@else{
                .btn-#{$key} {
                    position:relative;
                    background-color: $color !important;
                    color: $white !important;
                    border: 1px solid $black;
                    @extend .btn-size#{$i};
                    &::before {
                        content: "";
                        top: -1px;
                        left: -1px;
                        position:absolute;
                        border-radius:inherit;
                        width:calc(100% + 2px);
                        height:calc(100% + 2px);
                        background-color: rgba(0,0,0, 0.00);
                    }
                    &:hover::before{
                        cursor:pointer;
                        content: "";
                        top: -1px;
                        left: -1px;
                        position:absolute;
                        border-radius:inherit;
                        width:calc(100% + 2px);
                        height:calc(100% + 2px);
                        background-color: rgba(0,0,0, 0.05);
                    }
                    &:active::before{
                        cursor:pointer;
                        content: "";
                        top: -1px;
                        left: -1px;
                        position:absolute;
                        border-radius:inherit;
                        width:calc(100% + 2px);
                        height:calc(100% + 2px);
                        background-color: rgba(0,0,0, 0.1);
                    }
                    &[disabled]:before{
                        cursor:not-allowed;
                        content: "";
                        top: -1px;
                        left: -1px;
                        position:absolute;
                        border-radius:inherit;
                        width:calc(100% + 2px);
                        height:calc(100% + 2px);
                        background-color: rgba(0,0,0, 0.2);
                    }
                    &[disabled]{
                        cursor:not-allowed;
                        border-radius:inherit;
                        box-shadow: none;
                        &:hover{
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}