@import "../../base/box";
@import "../../base/font";
@import "../../base/color";
.card{
    width:100%;
    height:100%;
    display: flex;
    display: -webkit-flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: $background;
    @extend .box-shadow;
    @extend .border-gray;
    &>header{
        @extend .font-size1;
        @extend .padding;
        // @extend .border-info-bottom;
        @extend .box-shadow;
        // height: 2rem;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        justify-content:left;
        align-items:center;
        &>*:first-child{
            float:left;
        }
        &>*:last-child{
            float:right;
        }
    }
    &>section{
        height: 100%;       
        width: 100%;
        @extend .font-size;
        box-sizing: border-box;
        border: none;
        overflow: hidden;
        &>*{
            border:none;
        }
    }
    &>footer{
        @extend .font-size1;
        @extend .padding-3;
        // @extend .border-gray-top;
        @extend .box-shadow;
        // height: 3rem;
        flex-direction: row;
        display: flex;
        display: -webkit-flex;
        justify-content: left;
        align-items:center;
        &>*:first-child{
            float:left;
        }
        &>*:last-child{
            float:right;
        }
    }
}