@import "../../base/color";
@import "../../base/box";
input{
    font-size: 1rem;
    line-height: 1.5em;
    height: 2em;
    // border: 1px solid $gray;
    border: 1px solid transparent;
    outline: none;
    @extend .padding-left-3, .padding-right-3; 
    &:hover{
        &[disabled]{
            cursor: not-allowed;
        }
    }  
}
// .input{
//     border: 1px solid $gray !important;
//     &:hover{
//         border: 1px solid $gray;
//         outline: none;
//     }
//     &:focus{
//         border: 1px solid $gray;
//         outline: none;  
//     }
//     &:focus-visible{
//         border: 1px solid $gray;
//         outline: none;  
//     }
    
// }

.input-circle{
    border-radius:10rem;
    &>header{
        padding-left: 1px;
        border-radius:10rem 0 0 10rem;
    }
    &>footer{
        padding-right: 1px;
        border-radius:0 10rem 10rem 0;
    }
}

@for $i from -3 through 3{
    @each $key, $value in $semantic_range {
        $range: $i* 0.1rem;
        .input-#{$key}#{$i}{
            // position:relative;
            font-size: 1rem + $range;
            line-height: 1.5em;            
            border: 1px solid $value !important;
            display: flex;
            display: webkit-flex;
            &>header{
                font-size:inherit;
                line-height:1.5em;
                display: flex;
                display: webkit-flex;
                width: auto !important;
                align-items: center;
                flex-direction: row;
                padding: 0.25em;
                color: $value;
                @extend .bg-gray;
            }
            &>input{
                width: 100%;
                border: none;
                caret-color: $value;
                @extend .padding-left-3, .padding-right-3;
                
            }
            &>footer{
                font-size:inherit;
                line-height:1.5em;
                padding: 0.25em;
                width: 1.5em;
                display: flex;
                display: webkit-flex;
                align-items: center;
                flex-direction: row;
                color: $value;
            }
            &:hover{
                border: 1px solid $value;
            }
            &:active{
                border: 1px solid $value;
            }
            &:focus-visible{
                border: 1px solid $value;
                outline: none;  
            }
        }

        @if $i == 0 {
            .input-#{$key}{
                // position:relative;
                font-size: 1rem;
                line-height: 1.5em;            
                border: 1px solid $value !important;
                display: flex;
                display: webkit-flex;
                &>header{
                    font-size:inherit;
                    line-height:1.5em;
                    display: flex;
                    display: webkit-flex;
                    width: auto !important;
                    align-items: center;
                    flex-direction: row;
                    padding: 0.25em;
                    color: $value;
                    @extend .bg-gray;
                }
                &>input{
                    width: 100%;
                    border: none;
                    caret-color: $value;
                    @extend .padding-left-3, .padding-right-3;
                    
                }
                &>footer{
                    font-size:inherit;
                    line-height:1.5em;
                    padding: 0.25em;
                    width: 1.5em;
                    display: flex;
                    display: webkit-flex;
                    align-items: center;
                    flex-direction: row;
                    color: $value;
                }
                &:hover{
                    border: 1px solid $value;
                }
                &:active{
                    border: 1px solid $value;
                }
                &:focus-visible{
                    border: 1px solid $value;
                    outline: none;  
                }
            }
        }
    }
}

