@import "../../base/color";
.modal-content{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: top;
    padding:.25rem;
    &>header{
        
        padding-bottom: .5rem;
        border-bottom:1px solid #aaa;
        font-size: 1.1rem;

    }
    &>section{
        // height:100%;
        padding-top:.5rem;
        padding-bottom: .5rem;
    }
    &>footer{
        padding-top: .5rem;
        border-top:1px solid #aaa;
        font-size: 1.1rem;
    }
}
.modal-center{
    position:absolute;
    z-index:10;
    top:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.3);
    // display: flex;
    display: none;
    justify-content: center;
    align-items:center;
    &>.modal-content{
        box-shadow: 1px 1px 10px 0px $gray;
        background-color: $background;
    }
}

.show-modal{
    display: flex !important;
    animation: show-modal 1s;
}
@keyframes show-modal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;  
    }
}

@keyframes modal-keyframe {
    0%{
        width:0%;
    }
    100%{
        width:20%;
    }
}

@keyframes modal-height {
    0%{
        height:0%;
    }
    100%{
        height:auto;
    }
}

.modal-left{
    position:absolute;
    z-index:10;
    top:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.3);
    display: none;
    justify-content: left;
    align-items:center;
    // animation: modal-keyframes 10s;
    &>.modal-content{
        box-shadow: 1px 1px 10px 0px $gray;
        background-color: $background;
        height: 100%;
        animation: modal-keyframe 1s;
    }
}


.modal-right{
    position:absolute;
    z-index:10;
    top:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.3);
    display: none;
    justify-content: right;
    align-items:center;
    // animation: modal-keyframes 10s;
    &>.modal-content{
        box-shadow: 1px 1px 10px 0px $gray;
        background-color: $background;
        animation: modal-keyframe 1s;
    }
}

.modal-bottom{
    position:absolute;
    z-index:10;
    top:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items:flex-end;
    // animation: modal-keyframes 10s;
    &>.modal-content{
        box-shadow: 1px 1px 10px 0px $gray;
        background-color: $background;
        animation: modal-height 1s;
    }
}