@import "../../base/color";
p[placeholder], li[placeholder], img[placeholder], svg[placeholder]{
    // display: inline-block;
    position: relative;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait !important;
    @extend .bg-gray-1;
    color: $gray !important;
    border-color: $gray !important;
    border-radius: 0;
    animation: placeholder-key 5s;
    &:hover {
        cursor: wait !important;
        @extend .bg-gray-1;
        border-color: $gray !important;
        border-radius: 0;
    }
    &::before{
        content: '';
        cursor: wait !important;
        @extend .bg-gray-1;
        position: absolute;
        border-color: $gray !important;
        border-radius: 0;
        animation: placeholder-key 5s ease-in-out infinite;
    }
}
// js需要添加disabled
@keyframes placeholder-key {
    50%{
        opacity: .6;
    }
    0%{
        opacity: 8;
    }
    100%{
        opacity: 1;
    }
}