.x-rotation {
    position: relative;
    
    overflow: hidden;
    height: 100%;
    width: inherit;
    white-space:nowrap;
}
//需要大量js


.x-rotation>div{
    // position:absolute;
    height:inherit;

    float:left;
    
    &>div{
        float:left;
        width: 100%;
        height: 100%;
    }
}

@keyframes x-rotation {
    
}

.transition-defalut-time{
    transition: all 1s;
}

