@use "sass:color";
@use "sass:math";
@import "../../base/color";
@import "../../base/box";
@import "../../base/size";
@import "../../base/font";

@each $k, $v in $topic_range{
    
    @for $i from -4 through 4{
        $co:color.scale($v, $whiteness: (math.abs($i)*20)*1%, $blackness: -(math.abs($i)*20)*1%);
        @if $i == 0 {
            .table-#{$k}{
                width: 100%;
                margin:0;
                padding:0;
                border-collapse: collapse;        
                @extend .border-#{$k};
                &>thead{
                    @extend .text-align-left;
                    @extend .bg-#{$k};
                    @extend .font-size;
                    @extend .font-white;
                    @extend .box-shadow;
                    @extend .border-#{$k};
                    
                    &>tr>th:not(:first-child) {
                        border-left:1px solid $co;
                    }
                    
                    &>tr>th{
                        padding:.25em .5rem;
                    }
                }
                &>tbody{
                    padding-top:4px;
                    @extend .font-size;
                    // @extend .border-#{$k};
                    &>tr:not(:first-child){
                        @extend .border-#{$k};
                    }
                    &>tr>td{
                        padding:.25em .5rem;
                    }
                    &>tr>td:not(:first-child){
                        // background-color:red;
                        @extend .border-#{$k};
                    }
                }
            }
        }@else{
            .table-#{$k}#{$i}{
                width: 100%;
                margin:0;
                padding:0;
                border-collapse: collapse;        
                @extend .border-#{$k};
                &>thead{
                    @extend .text-align-left;
                    @extend .bg-#{$k};
                    @extend .font-size#{$i};
                    @extend .font-white#{$i};
                    @extend .box-shadow;
                    @extend .border-#{$k};
                    
                    &>tr>th:not(:first-child) {
                        border-left:1px solid $co;
                    }
                    
                    &>tr>th{
                        padding:.25em .5rem;
                    }
                }
                &>tbody{
                    padding-top:4px;
                    @extend .font-size#{$i};
                    // @extend .border-#{$k};
                    &>tr:not(:first-child){
                        @extend .border-#{$k};
                    }
                    &>tr>td{
                        padding:.25em .5rem;
                    }
                    &>tr>td:not(:first-child){
                        // background-color:red;
                        @extend .border-#{$k};
                    }
                }
            }
        }
            
    }
}

